.start_specialty, table.resultado{
    display:none;
}
.start_specialty div[data-role='header'] .top_questions {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 230px;
}
.start_specialty div[data-role='header'] .top_questions .content_questions span {
    color: #ef863e;
    font-size: 5.5rem;
    font-family: 'DK Mango';
    font-weight: normal;
    line-height: 1.3;
    font-style: italic;
}

.start_specialty table.resultado > tbody > tr.correcto{
    background-color: #3a6667;
    color: #FFF;
}

.start_specialty table.resultado > tbody > tr > td:last-child{
    text-align:center;
    color:#FFF;
}
.start_specialty table.resultado > tbody > tr.errada > td:last-child{
    color: #3a6667;
}
.start_specialty table.resultado > tbody > tr > td {
    border-radius: 0px;
}


#content_startLitigation .content_question .question > .container_btn > .waves-effect.waves-btn-start {
    background-color: #ef863e;
    color: #FFF;
    position: relative;
    font-size:29px;
}

#content_startLitigation .content_question .pregunta{
    display:none;
}

